---
layout: 'default'
title: 'Afterwork Themenabend - Motivation'
description: '„Freude an der Arbeit oder warum Motivierung Motivation verunmöglicht“'
keywords: 'Motivation, Demotivation, Hygienefaktoren, Herzberg, Maslow, Potenzial, Erfolgsfaktoren, Praxisarbeit, Berateralltag, Wissen teilen, Netzwerkgedanke, Themenabend, Afterwork'
---

- content_for :downloads do
  %ul
    %li.pdf
      %a{href: '/documents/Themenabend_Motivation.pdf', target: 'new'} Themenabend_Motivation
%h4
  „Freude an der Arbeit oder warum Motivierung Motivation verunmöglicht“
%h5
  Afterwork Themenabend, Montag den 30. September 2013, Zürich
%p
  Liebe Interessentinnen und Interessenten
%p
  Nach dem erfolgreichen Afterwork-Themenabend von Heidi Spirgi und Johanna Warkotsch im März 2013 in Basel zum
  Thema Absentismus - Präsentismus als kostentreibender Faktor in Unternehmen,
  haben wir uns entschieden, diese Veranstaltungs-Reihe regelmässig auch
  in Zürich durchzuführen und in Basel fortzusetzen. Wir greifen jeweils
  aktuelle Themen aus unserem Berater-Alltag auf und stellen unser Wissen
  und unsere Erfahrungen anhand eines Referats zur Verfügung und zur Diskussion.
%p
  Die Themen der nächsten Veranstaltungen sind:
%ul
  %li
    %strong Freude an der Arbeit oder warum Motivierung Motivation verunmöglicht
    \- Montag, den 30.09.2013, Zürich
  %li
    %strong Krise als Chance
    \- Montag, den 04.11.2013, Basel
%p
  Wir laden Sie ganz herzlich zu unserem Afterwork Themenabend vom Montag,
  den 30. September 2013, 18.00 – 19.00 Uhr mit anschliessenden Apéro ins
  Restaurant Die Waid an der Waidbadstrasse 45 in 8037 Zürich ein. Wir würden
  uns sehr freuen, Sie an dieser Veranstaltung begrüssen zu dürfen.
%p
  Die Teilnehmerzahl ist auf 15 Personen begrenzt – es gilt first come,
  first served.
%h5
  Anmeldung
%table
  %tbody
    %tr
      %td
        Email:
      %td
        %a{href: 'mailto:kontakt@weixelbaumer-partner.ch?subject=Anmeldung%20Afterwork%20Themenanbend%20Motivation'} info@weixelbaumer-partner.ch
    %tr
      %td
        Telefon direkt:
      %td
        +41 (0)43 311 58 70
    %tr
      %td
        Mobile:
      %td
        +41 (0)79 754 88 00
%p
  Hier gehts zum Flyer
  = succeed '.' do
    %a{href: '/documents/Themenabend_Motivation.pdf', target: 'new', title: 'Download'} Download
