---
layout: 'default'
title: 'Afterwork Themenabend - Krise'
description: '„Krisen“ tauchen unerwartet auf, ohne sich an Jahres- oder Geschäftsrhythmen oder andere Rahmenbedingungen zu halten. Was bedeuten Sie für Unternehmen und Menschen, welche Chancen und Risiken ...'
keywords: 'Krise, Sinnkrise, Lebenskrise, Unternehmenskrise, Chancen und Risiken, Potenziale, U-Theorie, Entwicklung, Desorientierung, Stabilisierung, Orientierung, Sinn, Garantien, Restrisiko, Beratungspraxis'
---

- content_for :downloads do
  %ul
    %li.pdf
      %a{href: '/documents/Krise-_Gefahr_oder_Chance.pdf', target: 'new'} Flyer Krise - Gefahr oder Chance
%h4
  „Krise - Gefahr oder Chance für Menschen und Unternehmen“
%h5
  Afterwork Themenabend, Donnerstag den 30. Januar 2014, Zürich
%p
  Liebe Interessentinnen und Interessenten
%p
  Wir freuen uns, Sie zu unserer ersten Afterwork-Themenveranstaltung im
  neuen Jahr einzuladen. Mit dem nach wie vor aktuellen Thema Krise, Gefahr
  oder Chance für Menschen und Unternehmen eröffnen wir die vielseitige Veranstaltungsreihe
  des kommenden Jahres. Das Thema erachten wir als passend zum Jahresstart,
  weil viele Menschen und Unternehmen zu diesem Zeitpunkt das vergangene
  Jahr reflektiert und Massnahmen fürs Folgejahr definiert haben. Verpasste
  Chancen wurden dabei identifiziert und die Realisierung ungenutzter Potenziale
  rückt in den Fokus des Handelns im neuen Jahr.
%p
  „Krisen“ tauchen unerwartet auf, ohne sich an Jahres- oder Geschäftsrhythmen
  oder andere Rahmenbedingungen zu halten. Krisen erlauben aber auch Blicke
  von Menschen oder Unternehmen auf Chancen sowie Potenziale und eröffnen
  Möglichkeiten, diese erfolgreich anzupacken. Häufig erleben wir Krisen
  in Verbindung mit Entwicklung und Wandel. Verunsicherung, Bedrohung, Angst
  und Desorientierung stehen im Spannungsfeld mit Geschäfts- und Entwicklungsopportunität
  sowie Ideen für eine erfolgsversprechende Zukunft.
%p
  Eine Garantie dafür, ob eine Verbesserung oder Verschlechterung der Situation
  eintritt, gibt es nicht. Bei allen Massnahmen bleibt ein Restrisiko und
  der Umgang damit ist die zentrale Herausforderung.
%p
  Diese und andere Gedanken werden wir für Sie anhand eines Impuls-Referates
  aus verschiedenen Perspektiven beleuchten und anhand anschaulicher Beispiele
  aus unserer Beratungspraxis illustrieren.
%p
  Wir freuen uns, dieses Thema mit Ihnen zu diskutieren und Sie am
  %strong Donnerstag, den 30. Januar 2014, von 18.00 – 19.00 Uhr
  mit anschliessendem
  Apéro im Restaurant Die Waid an der Waidbadstrasse 45 in 8037 Zürich begrüssen
  zu dürfen.
%p
  Die Teilnehmerzahl ist auf 15 Personen begrenzt – es gilt first come,
  first served.
%h5
  Anmeldung
%table
  %tbody
    %tr
      %td
        Email:
      %td
        %a{href: 'mailto:kontakt@weixelbaumer-partner.ch?subject=Anmeldung%20Afterwork%20Themenanbend%20Krise'} kontakt@weixelbaumer-partner.ch
    %tr
      %td
        Telefon direkt:
      %td
        +41 (0)43 311 58 70
    %tr
      %td
        Mobile:
      %td
        +41 (0)79 754 88 00
%p
  Hier gehts zum Flyer
  = succeed '.' do
    %a{href: '/documents/Krise-_Gefahr_oder_Chance.pdf', title: 'Download'} Download
%h5
  Weitere Themenabende im Jahr 2014
%ul
  %li
    Generation Y - fordert New Leadership-Management 3. Februar (Basel)
    %br/
  %li
    Entwicklungsprogramme für Führungspersonen - Mai 2014 (Zürich)
  %li
    Einflüsse der Verhaltensökonomie auf Organisation und Führung - Nov. 2014
    (Zürich)
