---
layout: 'default'
title: 'ERP Einführung'
description: 'Gute Neuigkeiten für KMUs: Der Erfolg einer ERP-Einführung kann aktiv gestaltet und bewusst beeinflusst werden. Herausforderungen tauchen bei solchen Projektvorhaben jedoch immer auf.'
keyword: 'ERP SAP Einführung, Changeprozess, Kommunikationskonzept, Multiplikatoren, Kernteam, Befähigung, Umgang mit Veränderung, Projekt Setup, Zielklärung, Erwartungsklärung, Management-Workshops, Coaching'
---

- content_for :downloads do
  %ul
    %li.pdf
      %a{href: '/documents/Strike-ERP-Einführung.pdf', target: 'new'} Strike-ERP-Einführung

%h4
  Ganzheitliches Projektsetup führte zum SAP Gold Award
%h5
  Das Projekt Strike holt sich den SAP Gold Award 2013
%p
  Wir durften seit Ende 2011 bis Anfang 2013 das Projekt Strike zur Einführung
  eines ERP-Systems bei der Firma Landert Motoren AG begleiten. Der Auftrag
  bestand aus der Konzeption und Begleitung des Change-Prozess, dem Projekt-Setup
  und der Unterstützung des Projektleiters in der Projekt-Führung und -Steurung.
  Die dabei entstandenen Erkenntnisse stellen wir Ihnen nach Absprache mit
  dem Projektleiter im Download zur Verfügung.
%h5
  Einige Learnings sind;
%ul
  %li
    Externe Begleitung und professionelle Gestaltung des Change-Prozess
  %li
    Klärung der gegenseitigen Erwartungen und Ziele in vorgelagerten Geschäftsleitungs-Workshops
  %li
    Sensibilisierung Lenkungsausschuss und Schlüsselpersonen für die Change-Komponente
  %li
    Stärkung der Projektleiterrolle – erweiterte Entscheidungskompetenzen
    (z.B. Ferienstopp)
  %li
    Systematisches und bewusstes Setup des Projektteams
  %li
    Befähigung und Aktivierung der Kernteammitglieder – von Beginn in Verantwortung
    bringen
  %li
    \... mehr dazu im Artikel
%p
  Gerne unterstützen wir auch Sie bei Ihrem nächsten System- und/oder Veränderungsprojekt
  und begleiten Sie in Ihrer leitenden Rolle und Verantwortung.
%table
  %tbody
    %tr
      %td
        Email:
      %td
        %a{href: 'mailto:mw@weixelbaumer-partner.ch'} mw@weixelbaumer-partner.ch
    %tr
      %td
        Telefon direkt:
      %td
        +41 (0)43 311 58 70
    %tr
      %td
        Mobile:
      %td
        +41 (0)79 754 88 00
%p
  Hier gehts zum ganzen Artikel
  = succeed '.' do
    %a{href: '/documents/Strike-ERP-Einführung.pdf', target: 'new', title: 'Download'} Download
