---
layout: 'default'
title: 'KMU-Vitalisierungsprozess'
description: 'Unternehmen die ihre Potenziale heute vollständig erkennen sind morgen in der Lage sich wertschaffend und gesund weiterzuentwickeln. Wir unterstützen sie bei ihrem Vitalisierungsprozess.'
keywords: 'Potenziale nutzen, Potenzialanalyse, Vitalisierung, Vitalisierungsprozess, Unternehmenswachstum, Nachhaltige Entwicklung, Wachstum, Energetisierend, Unternehmensentwicklung, Kernkompetenzen'
---

- content_for :downloads do
  %ul
    %li.pdf
      %a{href: '/documents/Alchimedus-Methode_-_Beschrieb.pdf', target: 'new'} Potenzialanalyse Beschrieb

%img{alt: 'iStock_000013499284Large', src: '/images/focus.jpg'}/
%h4
  Nur wer seine Potenziale kennt, kann diese zur Unternehmens-Vitalisierung
  nutzen.
%h5
  Ganzheitlicher Unternehmenserfolg
%p
  Bei der Beratung eines Vitalisierungsprozesses geht das Alchimedus- Prinzip
  von den folgenden Grundsätzen aus;
%ul
  %li
    Jedes Unternehmen ist einzigartig - Lösungsansätze somit ebenfalls.
  %li
    Best Practice und die Orientierung an anderen führt zum zweiten Platz.
  %li
    Neue, einzigartige Produkte und Dienstleistung machen den Unterschied.
  %li
    Berater sollen dort eingesetzt werden, wo es dem Unternehmen an Zeit und Kompetenzen mangelt.
  %li
    Die Lösung und der neue Weg müssen von innen nach aussen entwickelt werden, also aus dem Unternehmen mit der Führung und den Mitarbeitern.
  %li
    Ein ganzheitlicher Ansatz bringt eine tragfähige Lösung, welche alle Potenziale nutzt.
%p
  Gerne begleiten wir sie in ihrem Vitalisierungsprozess.
%table
  %tbody
    %tr
      %td
        Email:
      %td
        %a{href: 'mailto:mw@weixelbaumer-partner.ch'} mw@weixelbaumer-partner.ch
    %tr
      %td
        Telefon direkt:
      %td
        +41 (0)43 311 58 70
    %tr
      %td
        Mobile:
      %td
        +41 (0)79 754 88 00
%p
  Mehr über die Potenzialanalyse und den Prozessablauf finden sie im
  = succeed '.' do
    %a{href: '/documents/Alchimedus-Methode_-_Beschrieb.pdf', target: 'new', title: 'Download'} Download
