---
layout: 'default'
title: 'Change Management'
---

#img.kenburns
  %img{alt: 'trainings-und-workshops', src: '/images/trainings-und-workshops.jpg'}/

%h4
  Veränderungen erfolgreich gestalten
  %br/
  Change-Management in der Praxis
%p
  %em 3 Tages-Intensiv-Workshop
%p
  Als Führungskraft oder Projektleiter sind Sie heute gefordert grössere
  Veränderungen professionell umzusetzen. Häufig laufen mehrere solcher Changeprojekte
  parallel im Unternehmen ab und Sie sind herausgefordert „das Neue“ möglichst
  schnell und stabil in der Organisation zu implementieren . Es wird von
  Ihnen erwartet, dass Sie einen solchen Prozess systematisch planen, konstruktiv
  begleiten und erfolgreich umsetzen können.
%h6
  Themenschwerpunkte
%ul
  %li
    Signifikante Steigerung der Ergebnisverankerung – nachhaltige und erfolgreiche
    Changeprojekte
  %li
    Grundmechanismen eines Change-Prozesses verstehen und aktiv in der Prozessgestaltung
    berücksichtigen
  %li
    Systematische Planung des Changeprojektes und Entwicklung eines Change
    Masterplans
  %li
    Handwerkszeug und Methoden kennenlernen und als griffige Change-Massnahmen
    anwenden
%h6
  Ihr Nutzen
%ul
  %li
    Sie lernen wie ein Changeprojekt aufgesetzt und systematisch geplant wird.
  %li
    Sie entwickeln ein Verständnis dafür, wie eine nachhaltige Ergebnis-Verankerung
    gelingt.
  %li
    Sie verbessern Ihre Prozess-Steuerung, lernen spezifische Change- Tools
    und Intervention kennen und erweitern Ihr persönliches Repertoire.
  %li
    Sie verstehen die emotionale Dynamik eines Change-Prozesses und wie gezielt
    mit diesem Wissen gearbeitet werden kann.
  %li
    Sie lernen mit Unsicherheit und Widerständen umzugehen und diese aktiv
    im Prozess zu nutzen.
%h6
  Zielgruppe
%p
  Führungskräfte &amp; Change Leader / Progamm- &amp; Projektleiter
%p
  Gerne geben wir Ihnen weitere Auskünfte zu den Inhalten und der Planung
  eines massgeschneiderten inhouse Kurses. Kontaktieren Sie uns jederzeit:
  %br/
  Email:
  %a{href: 'mailto:info@weixelbaumer-partner.ch?Change%20Management%20Workshop'} info@weixelbaumer-partner.ch
  | Telefon: +41 (0)43 311 58 70
