---
layout: 'default'
title: 'Führungskräfte Workshops'
---

%img{alt: 'fuehrungskraefte-workshops', src: '/images/fuehrungskraefte-workshops.jpg'}/
%h4
  Führungs-KRAFT – kraftvoll führen mit Effekt
%p
  %em 2 Tages-Intensiv-Workshop
%p
  Sie lernen, was es heisst, Verantwortung zu übernehmen, gewinnen Klarheit
  über Ihre Führungsrolle und Ihren persönlichen Führungsstil. Sie erlernen
  ein modernes Führungsverständnis und die Quintessenz erfolgreicher Führung
  in der Praxis. Führungs-Grundsätze und praxiserprobte Werkzeuge helfen
  Ihnen zukünftig, wirksam und authentisch Ihre anspruchsvolle Aufgabe in
  einem dynamischen Umfeld zu meisten.
%h6
  Themenschwerpunkte
%ul
  %li
    Führung im 21. Jahrhundert – Herausforderungen und Trends
  %li
    Reflektion eigenes Führungsverhalten
  %li
    Visionsarbeit und führen mit Vision
  %li
    Strategische Aufgaben als Führungskraft
  %li
    Arbeitsbeziehungen erfolgreich gestalten
  %li
    Teamführung und Rollen im Team (Belbin)
  %li
    Eigene Glaubenssätze und Antreiber
  %li
    Praxisinstrumente der operativen Führung
  %li
    Feedback als wirksames Führungsinstrument
%h6
  Ihr Nutzen
%ul
  %li
    Sie verbessern Ihr Führungs- und Rollenverständnis und sind sich Ihrer
    Wirkung und Aufgabe klar
  %li
    Sie reflektieren die wesentlichen Führungs-Kompetenzen des 21. Jahrhunderts
  %li
    Sie kennen die zentralen Führungs-Dimensionen (Strategiearbeit / operativer
    Betrieb / Mitarbeiterführung / persönliches Management) und wie Sie diese
    kontinuierlich weiterentwickeln können
  %li
    Sie wissen wie Sie tragfähige Arbeitsbeziehungen gestalten
  %li
    Sie verbessern Ihr Selbstmanagement
  %li
    Sie lernen in anspruchsvollen Situationen handlungsfähig zu bleiben und
    Feedback als effektives Führungs-Instrument einzusetzen.
%h6
  Zielgruppe
%p
  Führungskräfte / angehende Führungskräfte
%p
  Gerne geben wir Ihnen weitere Auskünfte zu den Inhalten und der Planung
  eines massgeschneiderten inhouse Kurses. Kontaktieren Sie uns jederzeit
%p
  Email:
  %a{href: 'mailto:info@weixelbaumer-partner.ch?subject=F%C3%BChrungskr%C3%A4fte%20Workshop'} info@weixelbaumer-partner.ch
  | Telefon: +41 (0)43 311 58 70
