---
layout: 'default'
title: 'Präsenz - Präsentieren mit Persönlichkeit'
---

%img{alt: 'fuehrungskraefteentwicklung', src: '/images/fuehrungskraefteentwicklung.jpg'}/
%p
  %strong Masterclass für Leader
%p
  %strong Präsenz | Glaubwürdigkeit | Charisma
%p
  %em
    Präsentieren mit Persönlichkeit
    %br/
    Glaubwürdig kommunizieren in Changeprozessen
%h5
  Beschrieb
%p
  Als Führungskraft, Fachexperte oder Projektleiter sind Sie gefordert sich
  auf unterschiedlichen Bühnen trittsicher zu bewegen.
  %br/
  Ihre Präsenz ist gefragter denn je! Präsentieren heisst Auftreten – vergleichbar
  mit einem Auftritt auf der Bühne.
  %br/
  Die dafür notwendige Wachsamkeit kann geschult werden und ihnen starke
  Ausdruckskraft verleihen.
%p
  Glaubwürdigkeit als Leader: Im Hier und Jetzt.
%p
  Von Führungskräften wird erwartet, dass Sie rhetorisch wirkungsvoll agieren
  und Ihre „Mannschaft“ für das Neue glaubwürdig begeistern können.
  %br/
  In anspruchsvollen Change-Prozessen, wo oftmals Grundsätzliches in Frage
  gestellt wird, ist die Präsenz als Leader der zentrale Stabilisator.
%h5
  Schwerpunkte des Seminars 
%ul
  %li
    Steigerung der Bühnenpräsenz
  %li
    Veränderungsdynamiken verstehen und erleben
  %li
    Hervorbringen des persönlichen Charismas
  %li
    Entwicklung einer bewussten Change-Kommunikation
%h5
  Referenten
%p
  %em Ursula Maria Schmitz
  ist Schauspielerin, Regisseurin und Präsentations-Coach
  arbeitet unter anderem am Schauspielhaus Zürich und in verschiedenen
  %br/
  Rollen wie Tatort oder ein Fall für zwei.
  %br/
  %em Mirko Weixelbaumer
  ist Geschäftsführer der Weixelbaumer und Partner
  GmbH, Eidg. Dipl. Ing ETHZ und systemischer Berater + Coach ISB begleitet
  Reorganisationen und Geschäftsleitungsentwicklungsprozesse in verschiedenen
  Sektoren.
%h5
  Dauer
%p
  2 Tages intensiv Seminar
%h5
  Teilnehmerzahl
%p
  auf 10 Personen beschränkt für maximale Individualität
%h5
  Seminardaten
%p
  auf Anfrage
%a{href: '/documents/Flyer_Pr%C3%A4senz_als_Leader.pdf', target: 'new', title: 'Download des Flyers'} Download des Flyers
%p
  Bei Fragen zur Gestaltung ihres inhouse Seminares kontaktieren Sie uns jederzeit:
  Email:
  %a{href: 'mailto:info@weixelbaumer-partner.ch?Change%20Management%20Workshop'} info@weixelbaumer-partner.ch
  | Telefon: +41 (0)43 311 58 70
