---
layout: 'default'
title: 'Projekt Management'
---

%img.ken{alt: 'trainings-und-workshops', src: '/images/trainings-und-workshops.jpg'}/
%h4
  Lean Projekt-Management
  %br/
  Projekte wirksam managen
%p
  %em 2 Tages-Intensiv-Training
%p
  Glaubt man aktuellen Fachstatistiken so wird die Projekt-Wirtschaft bis
  im Jahre 2020 um ca. 15% wachsen und die Kompetenz Projekt Management weiter
  an Bedeutung gewinnen. Themen wie Umstrukturierungen, Neuausrichtungen,
  Auslagerungen und Integrationen werden bei zunehmender Marktdynamik und
  Globalisierung an Komplexität gewinnen. Als Linienmanager, Auftraggeber
  oder Projektleiter sind Sie heute mitverantwortlich das Unternehmen weiterzuentwickeln.
  Projekte sind das Vehikel für diese Entwicklung und Projekt Management
  zunehmend das umsetzungsorientierte, moderne Führungsinstrument dazu.
  %br/
  Sie wenden an Ihren eigenen Projektfällen praxiserprobtes „lean“ Projekt
  Management an, erweitern Ihr Methoden-Repertoire, vertiefen gezielt Ihr
  Projekt Management Knowhow und schärfen Ihr Projektleiter-Profil. Projekt-Misserfolge
  müssen nicht sein!
%h5
  Themenschwerpunkte
%ul
  %li
    Projekt Management im 21. Jahrhundert, Umgang mit Veränderungen und Dynamiken
  %li
    Der Weg zum tragfähigen Projekt-Setup
  %li
    Von der genauen Zieldefinition über die systematische Planung zur wirksamen
    Steuerung
  %li
    Schaffen von erfolgsversprechenden Rahmenbedingungen und Stakeholder Buy-in
  %li
    Praxiserprobte Werkszeuge und Methoden kennenlernen und anwenden
%h5
  Ihr Nutzen
%ul
  %li
    Sie lernen ein Projekt erfolgsversprechend aufzusetzen und systematisch
    zu planen
  %li
    Sie lernen wie Sie stabile und tragfähige Rahmenbedingungen schaffen
  %li
    Sie verbessern Ihre Projekt-Steuerung von Kosten, Zeit und Ergebnisqualität
  %li
    Sie lernen spezifische Tools und Massnahmen aus der Praxis kennen
  %li
    Sie entwickeln ein Verständnis dafür wie viel Projekt Management tatsächlich
    notwendig ist
%h5
  Zielgruppe
%p
  Auftraggeber, Projektleiter, Teilprojektleiter, zukünftige Projekt- Teilprojektleiter
%p
  Gerne geben wir Ihnen weitere Auskünfte zu den Inhalten und der Planung
  eines massgeschneiderten inhouse Kurses. Kontaktieren Sie uns jederzeit:
%p
  Email:
  %a{href: 'mailto:info@weixelbaumer-partner.ch?subject=Projekt%20Management%20Training'} info@weixelbaumer-partner.ch
  | Telefon: +41 (0)43 311 58 70
