---
layout: 'default'
title: 'Softskills'
---

%img{alt: 'softskills', src: '/images/softskills.jpg'}/
%h4
   Als Führungskraft / Projektleiter die volle Wirkung entfalten
%p
  %em 6 Tages-Intensiv-Programm (3 x 2 Tage)
%p
  Um als Führungskraft oder Projektleiter erfolgreich zu sein, reicht das
  beherrschen von Management-Tools, eine gute Planung und die regelmässige
  Steuerung nicht aus. Vielmehr sind es die „weichen“-Faktoren im Alltag,
  die in 80% den entscheidenden Unterschied ausmachen. In einem modularen
  Programm von 3 mal 2 Tagen lernen Sie, was Führen heisst und wo die Grenzen
  Ihrer Verantwortung sind. Sie reflektieren Ihre Rolle und Haltung und lernen
  was es braucht um den Aufbau eines high-performance Teams erfolgreich zu
  begleiten. Zudem lernen Sie state-of-the-art-Methoden im Bereich Verhandlung
  und Konflikt-Management kennen.
  %br/
  Dieses Intensiv-Programm ist eine optimale Ergänzung zu klassischen Führungs-
  und Projektleiter-Trainings und fördert die nachhaltige Entwicklung Ihrer
  Führungskompetenz und Ihrer Persönlichkeit.
%h6
  Themenschwerpunkte
%ul
  %li
    Eigenes Führungsprofil erkennen, situatives Führen, führen als Projektleiter
  %li
    Visionsarbeit und führen mit Vision
  %li
    Phasen der Teamentwicklung und Rollen im Team (Belbin)
  %li
    Glaubenssätze, Mitarbeiter Motivation und individuelle Antreiber
  %li
    Verhandlungsstrategien und Simulation
  %li
    Konfliktarten, eigene Konfliktstrategie, Umgang mit Konfliktsituationen
  %li
    Feedback als wirksames Führungsinstrument
  %li
    Kollegiale Praxisberatungen und persönliche Reflektion in Spiegelungsübungen
%h6
  Ihr Nutzen
%ul
  %li
    Sie verbessern Ihre Selbststeuerung, lernen Ihren persönlichen Führungsstil
    kennen und üben diesen situativ wirksam einzusetzen.
  %li
    Sie verstehen wie Sie ein high-performance Team zusammenstellen und welche
    Entwicklungs-Phasen dazu notwendig sind.
  %li
    Sie verbessern Ihr Verhandlungsgeschick und lernen wie Konflikte konstruktiv
    angegangen werden können.
  %li
    Sie lernen in anspruchsvollen Situationen handlungsfähig zu bleiben.
  %li
    Sie arbeiten an eigenen Praxisfällen und erhalten konkrete Lösungsideen,
    die Sie sofort umsetzen können.
%h6
  Zielgruppe
%p
  Progamm- &amp; Projektleiter und Führungskräfte
%p
  Gerne geben wir Ihnen weitere Auskünfte zu den Modulen und der Planung
  eines massgeschneiderten inhouse Kurses. Kontaktieren Sie uns jederzeit:
%p
  Email:
  %a{href: 'mailto:info@weixelbaumer-partner.ch?subject=Softskills%20Programm'} info@weixelbaumer-partner.ch
  | Telefon: +41 (0)43 311 58 70
