---
layout: 'default'
title: 'Einzel-Coaching'
keywords: 'Einzel-Coaching, Team-Coaching, Beziehungen, Entscheidungssicherheit, Authentizität, Klärung, Klärungsprozess, Ressourcenorientierung, Bewusstsein, Handlungssicherheit, Handlungsoptionen'
---

%img.ken{alt: 'einzel-coaching', src: '/images/einzel-coaching.jpg'}/

%h4
  Das Einzige, was man mit Bestimmtheit verändern kann:
  %br/
  Sich selbst!
%h5
  Ihr Nutzen
%p
  Sie gewinnen als Führungskraft Entscheidungssicherheit und persönliche
  Orientierung. Auch handeln Sie zielorientierter. Durch das Reflektieren
  der eigenen Denkmuster, Werte und Glaubensätze stärken Sie Ihr Führungsverständnis
  und Ihre Führungskompetenz. So werden Sie in schwierigen Situationen handlungsfähiger.
  Das Erkennen des eigenen Potentials und der eigenen Ressourcen verbessert
  Ihre Balance und lässt Sie in Ihrem Wirkungskreis kraftvoller und effektiver
  agieren. Sie finden den Mut und die Kraft zu neuen, vielleicht ungewöhnlichen
  Wegen.
%h5
  Unser Beitrag
%p
  Wir begleiten Sie als Führungskraft systematisch, zielorientiert und zeitlich
  begrenzt in Ihrem Klärungs- und Entwicklungsprozess. Durch Reflexion ermitteln
  wir Ihr Potential und die vorhandenen Ressourcen. Gemeinsam beleuchten
  wir Ihr Handeln systematisch, in Bezug auf das Arbeitsumfeld und im Kontext
  Ihres Unternehmens. Unser Ziel ist es, Routinen aufzulösen, Reaktionsweisen
  und hemmende Überzeugungen zu erkennen und ein realistisches Bild Ihrer
  Aufgaben und Handlungskompetenzen zu gewinnen. Wir gestalten Ihren persönlichen
  und professionellen Entwicklungsprozess nachhaltig mit und verbessern Ihre
  Entscheidungssicherheit und Ihre Authentizität.
