---
layout: 'default'
title: 'Konfliktmanagement'
---

%img{alt: 'konfliktmanagement', src: '/images/konfliktmanagement.jpg'}/
%h4
  Früher habe ich mich mit euch auseinandergesetzt
  %br/
  \- heute setze ich mich mit euch zusammen.
%h5
  Ihr Nutzen
%p
  Konflikte werden angesprochen und entschärft. Die einzelnen Personen im
  Team arbeiten wieder optimal zusammen. Das Team entwickelt sich weiter.
  Die Ressourcen der einzelnen Teammitglieder werden erkannt und kommen wieder
  in vollem Umfang zum Einsatz. Damit wird die Leistungsfähigkeit des gesamten
  Teams gesteigert.
%h5
  Unser Beitrag
%p
  In Konfliktsituationen begegnen sich die Konfliktparteien unter unserer
  Leitung in einer respektvollen und konstruktiven Art. In Einzelgesprächen
  und Gruppentreffen fördern wir eine zielführende Zusammenarbeit aller Parteien
  oder eine Trennung in gutem Einvernehmen. Das Teamziel ist immer eine gesteigerte
  Leistung gegenüber den Kunden.
