---
layout: 'default'
title: 'Team-Coaching'
---

#img.kenburns
  %img{alt: 'team-coaching', src: '/images/team-coaching.jpg'}/

%h4
  Das Ganze ist immer mehr als die Summe seiner Teile.
%h5
  Ihr Nutzen
%p
  Ihre Teams sind engagierter und partizipieren an der Gestaltung der Teamvision.
  Gegenseitige Erwartungen sind wertschätzend besprochen, Spannungen und
  Konfliktherde ausgelotet und soweit möglich abgebaut, die gegenseitige
  Hilfsbereitschaft und die Ergebnisqualität werden gesteigert. Aufkommende
  (vermeintlich) heikle Themen werden besprechbar und die Leistungsbereitschaft
  und Zufriedenheit steigt. Sie erreichen mit Ihrem Team die gesteckten Zielvorgaben
  deutlich besser. Was ins Stocken kam, ist wieder im Fluss.
%h5
  Unser Beitrag
%p
  Wir arbeiten systemisch mit Ihnen und Ihrem Team und lassen uns von den
  konkreten, gemeinsam vereinbarten Zielen leiten. An diesen messen wir den
  Umsetzungserfolg in der täglichen Praxis. Wir leiten Aushandlungsprozesse
  und Konfliktgespräche und unterstützen bei der Rollen- und Funktionsklärung.
  Gemeinsam schaffen wir Grundlagen wie beispielsweise eine offene, respektvoll
  gelebte Feedback-Kultur, die eine lösungs- und ergebnisorientierte Zusammenarbeit
  möglich macht. Der Coachingprozess ist zeitlich begrenzt. Wir ziehen uns
  sukzessive aus dem Prozess zurück, denn die Stärkung Ihrer Autonomie steht
  für uns im Vordergrund.
