---
layout: 'default'
title: 'Change Prozesse'
---

%img.ken{alt: 'wofuer-wir-stehen', src: '/images/wofuer-wir-stehen.jpg'}/

%h4
  Eine Veränderung kann immer Teil einer neuen Lösung oder auch die Fortsetzung
  des alten Problems sein. Wir helfen Ihnen, dass ersteres der Fall ist!
%h5
  Ihr Nutzen
%p
  Sie gewinnen Sicherheit und Klarheit, wie Ihr Change-Vorhaben konkret
  umgesetzt werden kann. Dabei reflektieren Sie immer auch die Entwicklung
  Ihrer eigenen Funktion und Rolle. Sie treffen objektive und nachvollziehbare
  Entscheide, auch im Personalbereich, und initiieren wichtige Qualifizierungs-Massnahmen.
  Sie agieren während des Prozesses kraftvoll, strahlen die nötige Stabilität
  aus und stellen sich anspruchsvollen Verhandlungs- und Lösungsfindungsprozessen.
  Sie besitzen den notwendigen Überblick im „Change-Cockpit“ um jederzeit
  korrigierende Massnahmen ergreifen zu können. Durch die gewählte systematische
  Vorgehensweise entsteht eine tragfähige und dauerhafte Lösung, betroffene
  Bereiche und Teams sind wesentlich schneller wieder leistungsfähig. Durch
  erfolgreiches und professionelles Change-Management leisten Sie einen wesentlichen
  Beitrag zur positiven Unternehmensentwicklung.

.image
  %img{alt: 'reise', src: '/images/reise.jpg'}/

%h5
  Unser Beitrag
%p
  Wir analysieren gemeinsam Ihr Change-Vorhaben, identifizieren Knackpunkte
  und mögliche Stolpersteine auf der Reise von HEUTE nach MORGEN und planen
  die systematische Umsetzung des Veränderungsprozesses in Ihrem Unternehmen.
  Wir prüfen gewissenhaft, ob das Commitment der Verantwortlichen und die
  Qualifikationen der massgeblich handelnden Personen ausreichen. Gemeinsam
  setzen wir eine adressatengerechte interne und externe Kommunikation auf,
  die eine proaktive Steuerung des Prozesses und das Schaffen der notwendigen
  Aufmerksamkeit wirksam unterstützt. Mit spezifischen Qualifizierungsmassnahmen
  befähigen wir Schlüsselpersonen wie auch das Projekt-Team, mit Widerständen
  und Turbulenzen professionell umzugehen. Durch adäquate Interventionen
  erreichen wir eine hohe Themen-Identifikation und mobilisieren die kritische
  Masse in Ihrem Unternehmen – wichtige Voraussetzung für den nachhaltigen
  Erfolg und das Gelingen der Veränderung. Falls notwendig, machen wir Vorschläge
  für die Anpassung systemrelevanter Rahmenbedingungen wie z. B. Zielvorgaben,
  Entlöhnungsmodelle, Personalentwicklungskonzepte, usw.
%p
  Wir sind erst dann zufrieden, wenn die Wirkung „in place“ ist.
