---
layout: 'default'
title: 'Projekt Management Einführungen'
---

%img{alt: 'wofuer-wir-stehen', src: '/images/wofuer-wir-stehen.jpg'}/
%h4
  Wer es versteht, Projekt-Management als Management-Werkzeug einzusetzen,
  bringt strategische Vorgaben besser auf den Boden.
%h5
  Ihr Nutzen
%p
  Sie etablieren eine gemeinsame Sprache und ein gemeinsames Lösungsverständnis.
  Auf der Einzelprojektebene erzielen Sie schneller und kostengünstiger Projektergebnisse
  und erreichen die Qualitätsvorgaben. Mittels eines wirksamen Projekt Portfolio-Managements
  behalten Sie die Übersicht über die wesentlichen Projektinvestitionen und
  treffen bewusste Entscheide bezüglich Ressourcen- und Mitteleinsatz. Die
  definierte Status- und Fortschrittskontrolle verbessert die Transparenz
  und Steuerbarkeit und erhöht die Erfolgsrate sowie die nachhaltige Verankerung
  der Projektergebnisse. Sie setzen Projekt Management als Führungs- und
  Qualitätsinstrument ein und integrieren Projekt Management-Kompetenz in
  die Entwicklungs- und Ausbildungskonzepte Ihrer Mitarbeitenden.
.image
  %img{alt: 'PMO', src: '/images/PMO.png'}/
%h5
  Unser Beitrag
%p
  Wir führen in Ihrem Auftrag unternehmensweit oder in einzelnen Abteilungen
  ein massgeschneidertes Projekt Management (PM) oder ein Projekt Management
  Office (PMO) ein, für noch erfolgreichere Projekte. Wir helfen Ihnen, in
  Ihrem Unternehmen ein pragmatisches Projekt Management zu etablieren, das
  als echter Transmissionsriemen zwischen Strategie und operativen Prozessen
  dient. Gemeinsam entwickeln wir den passenden Projekt Management-Ansatz,
  welcher praxiserprobte und wirksame Guidelines, Checklisten und Hilfsinstrumente
  zur Definition, Planung, Projekt-Steuerung und Evaluation von Projekten
  enthält, aber auch die Entwicklung der Projekt-Rollen und deren Haltung
  vorsieht. Wir folgen dabei der Prämisse „weniger ist mehr“. Um eine auf
  Ihre Bedürfnisse abgestimmte Projekt Management-Lösung zu entwickeln oder
  das Niveau Ihres bestehenden Projekt Managements anzuheben, arbeiten wir
  mit dem vorhandenen Unternehmens-Know-how und reichern dieses gezielt an.
  Wir unterstützen und begleiten künftige Projekt Management-Verantwortliche
  und helfen, die neue Funktion zu verankern. Wir befähigen die Mitarbeitenden
  vom Senior Projekt Manager bis zum Projekt-Neuling und kümmern uns um die
  Einführung der notwendigen Prozesse. Wir stossen notwendige Adaptionen
  in der Arbeitskultur an, dies stets unter Berücksichtigung der Unternehmensstruktur
  und -Werte.
%p
  Wir gehen schrittweise und sorgsam vor.
