---
layout: 'default'
title: 'Projektberatungen'
---

%img.ken{alt: 'projektberatungen', src: '/images/projektberatungen.jpg'}/

%h4
  Steckt Ihr Projekt in einer Sackgasse, die Sie nicht meistern können?
%h5
  Ihr Nutzen
%p
  Sie gewinnen den Überblick über Ihr Projekt und können das Wesentliche
  vom Unwesentlichen unterscheiden. Die zentralen Herausforderungen und Knackpunkte
  sind eruiert, komplexe Themen entwirrt und auf den Kern reduziert. Sie
  sind in der Lage, klare Entscheide zu treffen und die entwickelten Lösungsszenarien
  gegenüber (internen) Auftraggebern oder Sponsoren professionell zu vertreten.
  Beschlüsse zur weiteren Vorgehensweise und Massnahmenpläne für die nächsten
  Projektphasen kommunizieren Sie klar und ohne Missverständnisse an alle
  relevanten Stakeholder-Gruppen.
%h5
  Unser Beitrag
%p
  Wir führen mit Ihnen eine objektive Standortbestimmung durch und helfen
  mit, die erfolgskritischen Faktoren zu identifizieren. Gemeinsam entwickeln
  wir realistische Szenarien und die entsprechenden Massnahmen für die nächste
  Phase. Wir reflektieren und fordern auch die Rolle des Auftraggebers /
  Sponsors und Projektleiters heraus und sensibilisieren alle Parteien für
  die notwendigen Veränderungen. Die systematische Vorbereitung anspruchsvoller
  Gespräche erachten wir gerade in turbulenten Phasen als erfolgsentscheidend.
  Gerne begleiten wir Sie auf Wunsch als neutraler Fachexperte zu diesen
  Meetings. Wir unterstützen Sie so lange wie nötig. Im Idealfall, bis der
  Turnaround für Ihr Projekt geschafft ist.
