---
layout: 'default'
title: 'Inhaber'
---

.holder
  .holder_header
    %img{alt: 'mirko_weixelbaumer', src: '/images/mirko_weixelbaumer.jpg', width: '200', height: '200'}/
    .quotation
      %h4
        «Kompetenz und Passion an dem was und wie wir es tun, sind Garanten für Ihren Mehrwert.»
    %br.clear/
  %h3
    Mirko Weixelbaumer
  %p
    Mirko Weixelbaumer, 1976, Geschäftsführer der Weixelbaumer und Partner
    GmbH, eidg. dipl. Bauingenieur ETHZ, langjähriger Leiter des Projekt &amp;
    Change Management Competence Centers beim internationalen Konsumgüterunternehmen
    Swarovski, systemischer Berater und Coach ISB, Projekt Management-Experte IPMA zertifiziert
    und ausgebildeter Change Agent. Alchimedus Expert für Potenzialanalysen und Vitalisierungsprozesse für KMUs, Matrix Live Anwendungen. Umfassende Führungserfahrung und mehrjährige
    Erfahrung in der Leitung internationaler Projekte sowie bei der Einführung
    von Stage Gate Prozessen in der Produkt-Innovation und - Entwicklung. Referent
    bei der SGO (Schweizerische Gesellschaft für Organisation und Management) Business School
    und der Swissmem Kaderschule.
  %table
    %tbody
      %tr
        %td
          Email:
        %td
          %a{href: 'mailto:mw@weixelbaumer-partner.ch'} mw@weixelbaumer-partner.ch
      %tr
        %td
          Telefon direkt:
        %td
          +41 (0)43 311 58 70
      %tr
        %td
          Mobile:
        %td
          +41 (0)79 754 88 00
  %a{href: '/images/Mirko_Weixelbaumer.vcf'} Kontaktinformationen als V-Card herunterladen
  %br/
  %br/
  %a{href: 'http://www.xing.com/profile/Mirko_Weixelbaumer', rel: 'me', target: '_blank'}
    %img{alt: 'Mirko Weixelbaumer', height: '23', src: 'http://www.xing.com/img/buttons/1_de_btn.gif', width: '85'}/
