---
layout: 'default'
title: 'Partner'
---

.partner
  .partner_header
    %img{alt: 'heidi_spirgi', src: '/images/heidi_spirgi.jpg', width: '180', height: '180'}/
    .quotation
      %h4
        Heidi Spirgi
    %br.clear/
  %p
    %strong> Heidi Spirgi
    , ist Inhaberin der Spirgi Unternehmensentwicklung GmbH.
    Bevor sie Unternehmensberaterin wurde, arbeitete sie in der Schweiz
    über 11 Jahre in einer Managementposition im tertiären Bildungsbereich.
    Vorher bekleidete sie mehrere Jahre eine anspuchsvolle Führungsposition
    im Ausland im wirtschaftlichen Umfeld.
  %p
    Die breite Erfahrung in verschiedenen Managementpositionen im In- und
    Ausland, die Ausbildung in Psychologie und die ausgewiesenen methodisch-didaktischen
    Erfahrungen geben Heidi Spirgi die professionelle Kompetenz für ihre Beratertätigkeit.
  %h5
    Aus- und Weiterbildungen
  %p
    Systemisches Coaching und Beratung ISB, Systemisches Konfliktmanagement
    und Systemische Strukturaufstellungen, Lösungsfokussierte Kurzzeittherapie,
    Reteaming, EFQM-Assessorin etc.
  %table
    %tbody
      %tr
        %td
          Email:
        %td
          %a{href: 'mailto:spirgi@spirgi-unternehmensentwicklung.ch'} spirgi@spirgi.ch
      %tr
        %td
          Telefon direkt:
        %td
          +41 (0)61 273 53 02
      %tr
        %td
          Homepage:
        %td
          %a{href: 'http://www.spirgi-unternehmensentwicklung.ch', target: 'new'} www.spirgi-unternehmensentwicklung.ch
.partner
  .partner_header
    %img{alt: 'pohl_frank', src: '/images/pohl_frank.png'}/
    .quotation
      %h4
        Frank Pohl
    %br.clear/
  %p
    %strong Frank Pohl,
    ist Geschäftsführer der SGO Business School und Studiengangsleiter
    des MAS Projektmanagement an der Hochschule für Wirtschaft Zürich (HWZ).
    Er ist Vorstandsmitglied im VZPM und Lead Assessor IPMA/ VZPM (Level B).
    Frank Pohl hat über viele Jahre in freiberuflicher Tätigkeit als Projektleiter
    in vielen Branchen gearbeitet hat Shared Service Center Accounting-Lösungen
    eingeführt und Multiprojekt Systeme entwickelt und implementiert. Ab 1998
    war er für mehrere Jahre bei der ibo Beratung und Training GmbH als Senior
    Berater tätig und hat Projekt Management Methoden und Systeme in Unternehmen
    etabliert.
  %h5
    Aus- und Weiterbildungen
  %p
    Universitätsdiplom Wirtschaftwissenschaften, M.A. in Psychologie und Sport,
    Dozent an der Liebig Universität Gießen, Skilehrer und Fussballtrainer
    (UEFA A Diplom), Senior Project Manager (IPMA), Project Management Professional
    (PMP/PMI), Dozent Universität Klagenfurt und HWZ
  %table
    %tbody
      %tr
        %td
          Email:
        %td
          %a{href: 'mailto:frank.pohl@sgo.ch'} frank.pohl@sgo.ch
      %tr
        %td
          Telefon direkt:
        %td
          +41 (0)44 809 11 51
      %tr
        %td
          Homepage:
        %td
          %a{href: 'http://www.sgo.ch'} www.sgo.ch
.partner
  .partner_header
    %img{alt: 'juerg_attinger', src: '/images/juerg_attinger.jpg'}/
    .quotation
      %h4
        Jürg Attinger
    %br.clear/
  %p
    %strong> Jürg Attinger
    , ist Geschäftsführer der Jürg Attinger &amp; Partner AG und verfügt über langjährige Führungserfahrung aus Tätigkeiten im In- und Ausland als (Group- / Business-) Controller, Leiter Finanz/Admin sowie Key Account Manager. Er optimiert und reorganisiert Geschäftsprozesse, führte internationale Finanzabteilungen, Projekte in Industrie-, Immobilien- und Hotelbereichen, begleitete das Risikomanagement und realisierte die Einführung des IKS (Internes Kontroll System) in einem börsenkotierten weltweiten Konzern. Er führt Potenzialanalysen sowie deren Freisetzung durch und berät Käufer wie auch Verkäufer bei Nachfolgelösungen. Hilft bei Neugründungen, Businessplänen und Interimsaufgaben. Verhandlungssicher in Deutsch, Englisch und Französisch arbeitete er in der Schweiz, Frankreich und Deutschland.
  %h5
    Aus- und Weiterbildungen
  %p
    Diplomierter Betriebswirtschafter (lic. oec. publ.) der Universität Zürich, Nachdiplomstudium Executive Master of Corporate Finance des IFZ/Hochschule Luzern und „Green Belt“ des Six Sigma Programms (Qualitätsmanagement)
  %table
    %tbody
      %tr
        %td
          Email:
        %td
          %a{href: 'mailto:ja@attingerpartner.ch'} ja@attingerpartner.ch
      %tr
        %td
          Telefon direkt:
        %td
          +41 (0)41 560 00 30
      %tr
        %td
          Homepage:
        %td
          %a{href: 'http://www.attingerpartner.ch', target: 'new'} www.attingerpartner.ch
.partner
  .partner_header
    %img{alt: 'andrea_koch', src: '/images/andrea_koch.jpg'}/
    .quotation
      %h4
        Andrea Koch
    %br.clear/
  %p
    %strong Andrea Koch
    arbeitet seit mehr als 16 Jahren als selbständige
    Trainerin, Beraterin und Coach für mittelständische Unternehmen und Konzerne.
    Im internationalen Umfeld begleitet sie Unternehmen bei der Einführung
    und Verbesserung von Projektmanagement. Besonderen Wert legt sie auf verzahnte
    OE- und PE-Maßnahmen, damit Veränderung auf struktureller und persönlicher
    Ebene gelingt.
  %p
    Ein weiterer Schwerpunkt sind Weiterbildungsreihen in Softskills. Darin
    reflektieren Führungskräfte ihre Haltung, Werte und Einstellungen, sie
    erweitern ihr Methoden- und Handlungsrepertoire, immer mit dem Anspruch
    sowohl professionell als auch authentisch zu agieren.
  %h5
    Aus- und Weiterbildungen
  %p
    Diplomierte Betriebswirtin (BA), diplomierte Medienpraktikerin, NLP Master,
    Ausbildungen in Systemischer Beratung und in Gruppendynamik, Zertifizierung
    zum PMP (Project Management Professional) nach PMI, Supervisorin i.A.
  %table
    %tbody
      %tr
        %td
          Email:
        %td
          %a{href: 'mailto:andrea.koch@itc-koch.de'} andrea.koch@itc-koch.de
      %tr
        %td
          Telefon direkt:
        %td
          +49 (0)171 70 35 942
      %tr
        %td
          Homepage:
        %td
          %a{href: 'http://www.itc-koch.de', target: 'new'} www.itc-koch.de
.partner
  .partner_header
    %img{alt: 'martin-bialas', src: '/images/martin-bialas.jpg'}/
    .quotation
      %h4
        Martin Bialas
    %br.clear/
  %p
    %strong> Martin Bialas
    , ist Geschäftsführer und Inhaber der diventis GmbH.
    Die diventis GmbH bietet Ihren Kunden aus allen Branchen seit 10 Jahren Beratung
    im Bereich Projektmanagement an.
  %p
    Integrative Ansätze zur optimalen Verknüpfung von Projektmanagementmethode und
    ganzheitlichen Softwarelösungen stellen den Schwerpunkt des Leistungsspektrums
    dar. Neben den rein technischen Fragestellungen steht die optimale Einbettung
    der Lösungen in die Unternehmenskultur im Vordergrund.
  %p
    Martin Bialas ist Leiter der Fachgruppe „Software für PM-Aufgaben“ der
    GPM sowie Assessor für den deutschen Project-Excellence-Award. Als MCTS
    (Microsoft Certified Technical Specialist) ist er seit vielen Jahren
    auch als Trainer und Berater im Microsoft Project-Umfeld tätig.
  %h5
    Aus- und Weiterbildungen
  %p
    Physik- und Philosophiestudium, NLP-Master, Mediator, systemische
    Beratung, provokative Therapie.
  %table
    %tbody
      %tr
        %td
          Email:
        %td
          %a{href: 'mailto:mbialas@diventis.ch'} mbialas@diventis.ch
      %tr
        %td
          Telefon direkt:
        %td
          +41 61 303 1001
      %tr
        %td
          Homepage:
        %td
          %a{href: 'http://www.diventis.ch', target: 'new'} www.diventis.ch
.partner
  .partner_header
    %img{alt: 'roman mueller', src: '/images/Roman_Mueller.jpg'}/
    .quotation
      %h4
        Roman Müller
    %br.clear/
  %p
    %strong> Roman Müller
    ,
    ist seit 2002 Geschäftsführer und Inhaber der MPS Müller Projects &amp; Services GmbH und Gesellschafter der Weixelbaumer und Partner GmbH. Vor der Firmengründung und Beratertätigkeit in den Fachbereichen Notfallmanagement, Arbeitssicherheit, Brandschutz &amp; Schulungen arbeitete er über 12 Jahre in der Flugzeugindustrie, wo er über mehrere Jahre den Bereich Produktionsplanung und -steuerung sowie die Arbeitsvorbereitung leitete. In komplexen Grossprojekten und als Sicherheitsbeauftragter Produktion besitzt er fundiertes Praxiswissen, welches er heute als Dozent und  Diplomexperte an verschiedenen Technikerschulen TS/HF und Kaderschulen vermittelt.
  %h5
    Aus- und Weiterbildungen
  %p
    Nachdiplomstudium Betriebswirtschaft «dipl. NDS HF Betriebswirtschaft &amp; Management», Brandschutzfachmann / Confederation of Fire Protection Association Europe (CFPA), Sicherheitsfachmann EKAS/SUVA nach ISO/IEC 17024, Erwachsenenbildner SVEB1, Betriebstechniker TS
  %table
    %tbody
      %tr
        %td
          Email:
        %td
          %a{href: 'mailto:roman.mueller@muellerps.ch'} roman.mueller@muellerps.ch
      %tr
        %td
          Telefon direkt:
        %td
          +41 (0)44 302 32 76
      %tr
        %td
          Homepage:
        %td
          %a{href: 'http://www.muellerps.ch', target: 'new'} www.muellerps.ch
