---
layout: 'default'
title: 'Standort / Lageplan'
---

%h4
  So finden Sie uns
%p
  Weixelbaumer und Partner GmbH hat den Firmensitz im 2. Stock in der Liegenschaft
  am Brühlweg 1 in Zürich-Höngg, direkt am „Meierhofplatz“ (vis à vis der
  Post).
%iframe{frameborder: '0', height: '400', marginheight: '0', marginwidth: '0', scrolling: 'no', src: 'http://maps.google.ch/maps?f=q&source=s_q&hl=de&geocode=&q=Br%C3%BChlweg+1,+CH-8049+Z%C3%BCrich&sll=46.362093,9.036255&sspn=7.794516,13.381348&ie=UTF8&hq=&hnear=Br%C3%BChlweg+1,+8049+Z%C3%BCrich&ll=47.405901,8.49844&spn=0.023236,0.044546&z=14&iwloc=A&output=embed', width: '520'}
%br/
%small
  %a{href: 'http://maps.google.ch/maps?f=q&source=embed&hl=de&geocode=&q=Br%C3%BChlweg+1,+CH-8049+Z%C3%BCrich&sll=46.362093,9.036255&sspn=7.794516,13.381348&ie=UTF8&hq=&hnear=Br%C3%BChlweg+1,+8049+Z%C3%BCrich&ll=47.405901,8.49844&spn=0.023236,0.044546&z=14&iwloc=A', style: 'color:#1d3779;text-align:left'} Größere Kartenansicht
%br/
%br/
%h5
  Anreise mit den öffentlichen Verkehrsmitteln
%p
  Den Meierhofplatz in Zürich-Höngg erreichen Sie mit der Tramlinie 13,
  sowie mit den VBZ-Buslinien 46 und 80.
%h6
  Ab Zürich Bahnhof SBB
%p
  Ab Haltestelle „Bahnhofquai/Hauptbahnhof“ oder „Bahnhofstrasse“ nehmen
  Sie die Tramlinie 13/Bus Nr. 46 in Richtung „Frankental“/'Rütihof' bis zu der Haltestelle 'Meierhofplatz'
  (ca. 15 Fahrminuten). Gehen Sie einige Schritte in Richtung Zentrum (UBS-Bank)
  und biegen dort rechts in Richtung Post ab. Das Bürogebäude befindet sich
  gleich vis à vis der Post.
%p
  %a{href: 'http://www.zvv.ch/de/fahrplan/online-fahrplan.html', target: 'new', title: 'Zum ZVV Online Fahrplan'} Zum ZVV Online Fahrplan
%h6
  Ab Altstetten Bahnhof SBB
%p
  Nehmen Sie die Buslinie 80 in Richtung Bahnhof Oerlikon. An der Haltestelle
  'Meierhofplatz' aussteigen. Das Bürogebäude befindet sich gleich vis à vis
  der Post.
%p
  %a{href: 'http://www.zvv.ch/de/fahrplan/online-fahrplan.html', target: 'new', title: 'Zum ZVV Online Fahrplan'} Zum ZVV Online Fahrplan
%h5
  Anreise mit dem Auto
%p
  Von der Autobahn A1 aus Richtung Bern/ Basel kommend, nehmen Sie die Ausfahrt
  Zürich-Altstetten. Wählen Sie die linke Fahrspur Richtung „Höngg“ und biegen
  Sie zwei Mal links ab, um auf die Europabrücke zu gelangen. Am Ende der
  Europarücke (Sicht auf den Rebberg) biegen Sie links in die Winzerstrasse
  ein und folgen der Beschilderung in Richtung Affoltern/Oerlikon, bis Sie
  zum Meierhofplatz gelangen. Dort biegen Sie links ab. Das Bürogebäude befindet
  sich gleich vis à vis der Post.
%p
  Von der Autobahn A1/4 aus Richtung Winterthur/Flughafen kommend, fahren
  Sie Richtung Zürich-City. Sobald Sie in der Stadt sind (zweiter Tunnel,
  Tempo 50) folgen Sie der Beschilderung Bern, Basel bis sie rechts nach
  Höngg abbiegen können. Folgen Sie anschliessend rechts der Limmattalstrasse
  (Tramlinie 13) in Richtung Höngg bis sie am Meierhofplatz ankommen. Dort
  biegen Sie rechts ab. Das Bürogebäude befindet sich gleich vis à vis der Post.
%h6
  Parkplätze
%p
  Auf Absprache ist ein Kundenparkplatz vorhanden. Ansonsten benutzen Sie bitte das Parkhaus des
  Coop Einkaufzenters Hönggermarkt, die Parkgarage der Migros Höngg oder
  einen umliegenden Parkplatz in der blauen Zone.
