---
layout: 'default'
title: 'Impressum'
---

%p
  Weixelbaumer und Partner GmbH
  %br/
  Brühlweg 1, CH-8049
%p
  Eingetragen im Handelsregister des Kantons Zürich
  %br/
  Registernummer: CH-020.4.043.174-4
  %br/
  MwSt-Nr.: CHE-115.900.083
  %br/
  Bankverbindung: ZKB Clearing 700, Kto. 1100-2896.216
  %br/
  IBAN CH82 0070 0110 0028 9621 6
  %br/
  Swift-Adresse ZKBKCHZZ80A
%h5
  Haftungshinweis
%p
  Trotz sorgfältiger inhaltlicher Kontrolle übernimmt Weixelbaumer und Partner
  GmbH keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten
  Seiten sind ausschliesslich deren Betreiber verantwortlich.
