---
layout: 'default'
title: ''
description: 'Homepage'
keywords: ''
---

- content_for :news do
  %ul
    %li
      %span 30. Jan. 2014
      = link_to 'Afterwork Themenabend - "Krise"', '/aktuelles/afterwork-themenabend-kriese.html'
    %li
      %span 30. Sept. 2013
      = link_to 'Afterwork Themenabend - "Motivation"', '/aktuelles/afterwork-themenabend-motivation.html'
    %li
      %span Juli 2013
      = link_to 'Erfolgsstory - ERP Einführung', '/aktuelles/erfolgsstory-erp-einfuehrung.html'
    %li
      %span 2013
      = link_to 'Potenzialanalysen - KMU-Vitalisierungsprozess', '/aktuelles/potenzialanalysen-kmu-vitalisierungsprozess.html'

%map{name: 'home_image_map'}
  %area#unternehmen{coords: '53,0,53,0,53,0,46,22,46,22,44,45,44,45,45,73,45,73,49,98,49,98,59,125,59,125,74,151,74,151,94,174,94,174,115,156,115,156,143,141,143,141,176,130,176,130,202,127,202,127,236,128,236,128,255,133,255,133,265,136,265,136,275,106,275,106,292,80,292,80,308,60,308,60,326,45,326,45,348,31,348,31,369,22,369,22,372,21,372,21,367,0', shape: 'poly'}/
  %area#methodik{coords: '53,241,49,252,46,268,46,268,44,291,44,291,44,309,44,309,47,325,47,325,51,345,51,345,57,360,57,360,365,359,365,359,371,339,371,339,349,329,349,329,319,309,319,309,295,286,295,286,282,264,282,264,270,240,270,240,262,214,262,214,246,219,246,219,212,223,212,223,186,222,186,222,167,218,167,218,139,208,139,208,123,199,123,199,105,186,105,186,94,178,94,178,83,189,83,189,68,209,68,209,56,231,56,231,55,235,55,235,55,235', shape: 'poly'}/
  %area#homechangeundprojektmanagement{alt: 'Change- und Projektmanagement', coords: '104,168,101,171,96,176,96,176,109,187,109,187,124,198,124,198,147,208,147,208,162,214,162,214,179,218,179,218,204,220,204,220,227,220,227,220,242,217,242,217,262,212,262,212,258,186,258,186,260,157,260,157,263,138,263,138,240,132,240,132,212,130,212,130,182,132,182,132,166,135,166,135,139,146,139,146,124,154,124,154,113,161,113,161,107,166', href: url_for('/angebot/change-und-projektmanagement.html'), shape: 'poly', style: 'cursor: pointer;', title: 'Wirkung entfalten'}/
  %area#homeunternehmensentwicklung{alt: 'Unternehmensentwicklung', coords: '275,112,270,125,267,137,267,137,285,144,285,144,299,151,299,151,309,159,309,159,320,167,320,167,325,172,325,172,337,161,337,161,351,141,351,141,362,119,362,119,369,100,369,100,373,82,373,82,374,68,374,68,376,49,376,49,374,33,374,33,372,24,372,24,357,30,357,30,341,38,341,38,325,49,325,49,311,61,311,61,299,75,299,75,288,88,288,88,280,102,280,102,278,107', href: url_for('/angebot/unternehmensentwicklung.html'), shape: 'poly', style: 'cursor: pointer;', title: 'Werte schaffen'}/
  %area#homecoachingundtraining{alt: 'Coaching und Training', coords: '283,206,273,211,265,214,265,214,271,234,271,234,284,265,284,265,298,283,298,283,315,302,315,302,334,317,334,317,352,327,352,327,372,337,372,337,375,318,375,318,376,289,376,289,374,263,374,263,369,245,369,245,362,227,362,227,353,210,353,210,343,195,343,195,326,176,326,176,316,185,316,185,305,194,305,194,295,201,295,201,288,203', href: url_for('/angebot/coaching.html'), shape: 'poly', style: 'cursor: pointer;', title: 'Wesentliches entwickeln'}/
  %area#mensch{coords: '345,155,340,161,328,175,328,175,348,197,348,197,363,222,363,222,372,247,372,247,375,260,375,260,379,286,379,286,379,310,379,310,377,323,377,323,374,337,374,337,394,343,394,343,419,346,419,346,442,345,442,345,470,340,470,340,496,332,496,332,520,318,520,318,520,41,520,41,504,32,504,32,480,23,480,23,454,16,454,16,433,14,433,14,413,14,413,14,396,17,396,17,375,23,375,23,377,44,377,44,378,65,378,65,374,94,374,94,366,117,366,117,355,139,355,139,349,147', shape: 'poly'}/

.competence
  %img#homeMap{height: '360', src: '/images/home.png', usemap: '#home_image_map', width: '520'}/

%p.home-quote
  %q
    Unternehmen und Menschen bei ihrer wertschaffenden, ganzheitlichen Entwicklung
    unterstützen.
  %cite
    Mirko Weixelbaumer

%br.clear/
