---
layout: 'default'
title: 'Kontakt'
---

%img{alt: 'wofuer-wir-stehen', src: '/images/wofuer-wir-stehen.jpg'}/
%h4
  So erreichen Sie uns
%p
  %strong Weixelbaumer und Partner GmbH
  %br/
  Unternehmensentwicklung, Coaching, Change- und Projekt Management
  %br/
  Brühlweg 1
  %br/
  CH-8049 Zürich
%table
  %tbody
    %tr
      %td
        Telefon:
      %td
        +41 (0)43 311 58 70
    %tr
      %td
        Email:
      %td
        %a{href: 'mailto:kontakt@weixelbaumer-partner.ch'} kontakt@weixelbaumer-partner.ch
    %tr
      %td
        Homepage:
      %td
        %a{href: 'index.html'} www.weixelbaumer-partner.ch
