---
layout: 'default'
title: 'Partnerschaft mit SGO'
---

%img{alt: 'SGO_Header', src: '/images/SGO_Header.png'}/
%h4
  Partnerschaft mit SGO - Schweizerische Gesellschaft für Organisation und
  Management
%p
  'Wer sich weiterbildet, will dies kompakt, flexibel und mit einem professionellen
  Ausbildungspartner tun. Die SGO ist der „direkte und persönliche Draht
  zu fundiertem Wissen“: aufbauend auf den Vorkenntnissen und Berufserfahrung
  der Kunden werden Weiterbildungsprogramme individuell zusammengestellt.“
%p
  Es freut uns, dass ab 2011 die Weixelbaumer und Partner GmbH im Bereich
  Aus- und Weiterbildung Hand in Hand mit der
  %strong SGO − Schweizerische Gesellschaft für Organisation und Management
  zusammenarbeitet. Die SGO Business School ist Schweizer Marktführer für
  Projektmanagement Aus- und Weiterbildung und bietet mit dem
  %strong Projektmanager SGO (CAS)
  Lehrgang einen ausgewogenen und praxisorientierten
  Weiterbildungslehrgang an, der für Personen im Projektgeschäft unverzichtbar
  ist. Der Lehrgang ist modular aufgebaut:
%ul
  %li
    Modul 1 - Projektmanagement Grundlagen (3 Tage)
  %li
    Modul 2 - Persönliche und soziale Kompetenz (4 Tage)
  %li
    Modul 3 - Praxis der Projektsteuerung und -führung (3 Tage)
  %li
    Modul 4 - Projektmanagement Prozesse und Verfahren (3 Tage)
  %li
    Modul 5 - Multiprojekt- und Change Management (3 Tage)
  %li
    Modul 6 - Praxistransfer und Abschluss (2 Tage)
%p
  Der komplette Lehrgang bereitet die Teilnehmer optimal auf eine entsprechende
  Projektmanagement Zertifizierung nach IPMA oder PMI Standard vor.
  %br/
  Die Teilnehmer erhalten den Abschluss „Certificate of Advanced Studies
  CAS in Project Management” (17,5 ECTS Punkte).
%p
  Die Einzelmodule 1, 2, 3 + 5 bieten wir sowohl als offene Weiterbildung
  bei der SGO als auch als
  %strong massgeschneiderte Inhouse- Variante
  in Ihrer Unternehmung an.
%p
  Wir freuen uns, Ihnen ein entsprechendes Angebot zu unterbreiten. Gerne
  unterstützen wir Sie bei der Wahl, Gestaltung und Durchführung Ihrer nächsten
  Projektmanagement Aus- und Weiterbildung.
%p
  Email:
  %a{href: 'mailto:info@weixelbaumer-partner.ch?subject=Projekt%20Management%20Training'} info@weixelbaumer-partner.ch
  | Telefon: +41 (0)43 311 58 70
%h6
  %strong> Weitere Informationen &amp; Links zum Thema
  \:
%p
  Übersicht
  %a{href: 'http://www.sgo.ch/projektmanagement/ausbildung-weiterbildung/projektmanager-sgo-cas/', target: 'new', title: 'Projektmanager-SGO CAS'} Projektmanager-SGO CAS
%p
  Praxisworkshop
  %a{href: 'angebot/trainings-und-workshops/change-management/index.html', title: 'Change Management für Projektleiter'} Change Management für Projektleiter
%p
  %a{href: 'angebot/trainings-und-workshops/softskills/index.html', title: 'Praxisprogamm für Projektleiter und junge Führungskräfte'} Praxisprogamm für Projektleiter und junge Führungskräfte
