---
layout: 'default'
title: 'Referenzen'
---

%h3 Eine Auswahl unserer Referenzen

%table#references
  %tr
    %td.ref-image
      %a{href: 'http://www.meier-kopp.ch', target: '_blank'}
        %img{alt: 'Logo_Meier-Kopp', src: '/images/Logo_Meier-Kopp.png'}/
    %td
      %ul
        %li
          Prozessoptimierung zwischen Hauptabteilungen
  %tr
    %td.ref-image
      %a{href: 'http://www.buchi.ch', target: '_blank'}
        %img{alt: 'Logo_BUCHI', src: '/images/Logo_BUCHI.png'}/
    %td
      %ul
        %li
          Konzeption Personalentwicklungsprogramm Stufe Führungskreis
        %li
          Moduldurchführung und Begleitung diverser Entwicklungsprozesse
  %tr
    %td.ref-image
      %a{href: 'http://www.gloryglobalsolutions.com', target: '_blank'}
        %img{alt: 'Logo_Glory', src: '/images/Logo_Glory.png'}/
    %td
      %ul
        %li
          Begleitung Neuausrichtung / Change-Prozess
        %li
          Einzel-Coachings von Führungskräften & Führungs-Qualifizierungen
  %tr
    %td.ref-image
      %a{href: 'http://www.metrohm.com', target: '_blank'}
        %img{alt: 'Logo_Metrohm', src: '/images/Logo_Metrohm.png'}/
    %td
      %ul
        %li
          Einführungsunterstützung Entwicklungsprojekt-Planung und -Steuerung
        %li
          Konzeption, Durchführung Entwicklungsprogramm Team- & Projekt-Leiter
  %tr
    %td.ref-image
      %a{href: 'http://www.abraxas.ch', target: '_blank'}
        %img{alt: 'Logo_Abraxas', src: '/images/Logo_Abraxas.png'}/
    %td
      %ul
        %li
          Strategiescher Planungs- und Teamentwicklungs-Workshop Stufe Kader
  %tr
    %td.ref-image
      %a{href: 'http://www.victorinox.com', target: '_blank'}
        %img{alt: 'Logo_Victorinox', src: '/images/Logo_Victorinox.png'}/
    %td
      %ul
        %li
          Unternehmensentwicklungsmassnahmen - Head Quarter
        %li
          Projekt Coaching - divisionsübergreifendes Projekt
        %li
          Beratung, Begleitung Einführung globales Projektmanagement
  %tr
    %td.ref-image
      %a{href: 'http://www.frauenfeld.ch', target: '_blank'}
        %img{alt: 'Logo_Stadt_Frauenfeld', src: '/images/Logo_Stadt_Frauenfeld.png'}/
    %td
      %ul
        %li
          Kaderentwicklung - gesamte Stadtverwaltung inkl. Stadtrat
  %tr
    %td.ref-image
      %a{href: 'http://www.linde-kryotechnik.ch', target: '_blank'}
        %img{alt: 'Logo_Linde', src: '/images/Logo_Linde.png'}/
    %td
      %ul
        %li
          Kader- und Führungsentwicklung mit erweiterter Geschäftsleitung
  %tr
    %td.ref-image
      %a{href: 'http://www.stadt-zuerich.ch/ewz/de/index.html', target: '_blank'}
        %img{alt: 'EWZ', src: '/images/EWZ.jpg'}/
    %td
      %ul
        %li
          Talent Management; Mitkonzeption und Umsetzung Praxismodule
        %li
          Projektberatung Personalentwicklung
  %tr
    %td.ref-image
      %a{href: 'http://www.sv-group.ch/', target: '_blank'}
        %img{alt: 'SVGroup', src: '/images/SVGroup.jpg'}/
    %td
      %ul
        %li
          Kaderentwicklung - Zusammenarbeit, Teamentwicklung, Kommunikation und
          Umgang mit Konflikten
  %tr
    %td.ref-image
      %a{href: 'http://www.landert.com/', target: '_blank'}
        %img{alt: 'Landert_Motoren_AG', src: '/images/Landert_Motoren_AG.png'}/
    %td
      %ul
        %li
          Gestaltung &amp; Begleitung des Veränderungsprozesses infolge einer ERP-Einführung
        %li
          Projektleiter - Coaching
  %tr
    %td.ref-image
      %a{href: 'http://www.navyboot.ch/', target: '_blank'}
        %img{alt: 'navybot', src: '/images/navybot.png'}/
    %td
      %ul
        %li
          Strategie- &amp; Team-Entwicklungs-Workshop Stufe Geschäftsleitung
        %li
          Unterstützung bei der Planung strategischer Initiativen
  %tr
    %td.ref-image
      %a{href: 'http://www.six-group.com/index.html', target: '_blank'}
        %img{alt: 'sixgroup', src: '/images/sixgroup.png'}/
    %td
      %ul
        %li
          Mitkonzeption des Senior Development Programm
        %li
          Konzeption und Durchführung der Projekt Module
  %tr
    %td.ref-image
      %a{href: 'http://www.opernhaus.ch/', target: '_blank'}
        %img{alt: 'opernhaus', src: '/images/opernhaus.png'}/
    %td
      %ul
        %li
          Führungskräfte-Coaching, Persönlichkeitsentwicklung, Gesprächsführung
          \&amp; Präsentieren
  %tr
    %td.ref-image
      %a{href: 'http://www.tbgs.ch/', target: '_blank'}
        %img{alt: 'tbgs', src: '/images/tbgs.png'}/
    %td
      %ul
        %li
          Entwicklungsprozess mit Geschäftsleitung nach Reorganisation (Kultur,
          Zusammenarbeit, Führungsgrundsätze)
        %li
          Konfliktmanagement und Coaching Level Kader
  %tr
    %td.ref-image
      %a{href: 'http://www.admin.ch/', target: '_blank'}
        %img{alt: 'admin', src: '/images/admin.png'}/
    %td
      %ul
        %li
          Veränderungsprozess Bundeskriminalpolizei - Reorganisation
        %li
          Kader - Assessments und Teamentwicklungsprozesse
