---
layout: 'default'
title: 'Change- &; Projekt Management'
keywords: 'erfolgreiche Verankerung, Strategieumsetzung, Veränderungsvehikel, Veränderungs-Phasen, PM Phasenmodell, systematisch, Massnamenplan, praxiserprobt, lean PM, systemisch, Management Instrument'
---

%img.ken{alt: 'wofuer-wir-stehen', src: '/images/wofuer-wir-stehen.jpg'}/

%h4
  Wer nicht bewusst und systematisch mit Veränderung umgeht, verpasst es,
  nachhaltige Erfolge zu erzielen.
%p
  Wir sind der Meinung, dass die Entwicklung resp. Weiterentwicklung eines
  Unternehmens massgeblich über Projekte und Projektarbeit erreicht werden
  kann. Innovationen umsetzen, Einführen neuer Produktlinien, Erschliessen
  neuer Geschäftsfelder, Auslagern von Wertschöpfungsschritten, Reorganisationen
  \- all dies sind strategisch initiierte Aktionen, die zur nachhaltigen Wirtschaftlichkeit
  eines Unternehmens beitragen.  Die erfolgversprechende Realisierung
  macht eine systematische Vorgehensweise notwendig.

.image
  %img{alt: 'ChangeAndProjectManagement', src: '/images/ChangeAndProjectManagement.png'}/

%p
  Projekte sind also
  %em das
  Vehikel der Unternehmensentwicklung und somit auch der Veränderung.
  Fundierte Projekt- und Change Management-Kompetenzen sind ein MUSS für
  jedes Unternehmen.
