---
layout: 'default'
title: 'Trainings & Workshops'
keywords: 'Modular, Programme, systemisch, hoher Lerneffekt, Lernerfolg, Nachhaltigkeit, Lernziele, Ausbildungskonzept, ganzheitlich, massgeschneidert, inhouse, Seminare, Workshops, Umsetzungskompetenz'
---

%map{name: 'trainings_and_workshops'}
  %area{alt: '', coords: '184,109,331,175', href: url_for('/angebot/trainings-und-workshops/change-management.html'), shape: 'rect'}/
  %area{alt: '', coords: '101,135,245,204', href: url_for('/angebot/trainings-und-workshops/softskills.html'), shape: 'rect'}/
  %area{alt: '', coords: '237,128,412,215', href: url_for('/angebot/trainings-und-workshops/projekt-management.html'), shape: 'rect'}/
  %area{alt: '', coords: '149,65,295,133', href: url_for('/angebot/trainings-und-workshops/fuehrungskraefte-workshops.html'), shape: 'rect'}/

#img.kenburns
  %img{alt: 'trainings-und-workshops', src: '/images/trainings-und-workshops.jpg'}/

%h4
  Eine einzelne isolierte Ausbildungsmassnahme ist ein guter Anfang. Ihre
  volle Wirkung hat diese aber erst, wenn sie systematisch in ein Gesamtkonzept
  eingebettet ist.
%p
  Unsere Aus- und Weiterbildungsangebote orientieren sich an den folgenden
  Kompetenz-Dimensionen:
%ul
  %li
    Systematik und Methodik:
    %br/
    %em Analysieren, planen, Massnahmen umsetzen, steuern
  %li
    Intuition und Softskills:
    %br/
    %em Ich, andere, Arbeitsbeziehungen, Antreiber, denken, antizipieren
  %li
    Management- und Umsetzungskompetenz:
    %br/
    %em Überblick behalten, priorisieren, entscheiden, Veränderung meistern
.image
  %img{height: '242', src: '/images/TrainingsUndWorkshops.png', usemap: '#trainings_and_workshops', width: '520'}/
%p
  %sup
    Für Details zu den einzelnen Angeboten klicken Sie auf die entsprechende
    Fläche.
  %br/
  Wir bieten alle Kurse als inhouse oder offene Aus- und Weiterbildungen
  an.
%h5
  Ihr Nutzen
%p
  Sie und Ihre Mitarbeitenden bekommen umsetzungsorientiertes, praxisnahes
  Wissen vermittelt. Methoden und Vorgehensweisen werden anhand von Fallarbeiten
  umgehend angewendet. Sie haben die Möglichkeit, Ihr konkretes Projekt-
  oder Fallbeispiel einzubringen und zu bearbeiten. Das Unternehmen gewinnt
  dadurch einen sofortigen Mehrwert. Die gewählte Lernmethodik und der systemische
  Trainingsaufbau fördern einen hohen Lerneffekt und einen schnellen Transfer
  des Gelernten in die tägliche Arbeit.
%h5
  Unser Beitrag
%p
  Um die maximale Wirkung zu erzielen, entwickeln wir für Ihr konkretes
  Anliegen eine kundenspezifische Aus- oder Weiterbildungslösung. In unseren
  Trainings und Workshops achten wir auf einen guten Mix zwischen Theorie
  und Praxis. In der Regel arbeiten wir an Ihren aktuellen Projekten. Unsere
  Lernmethoden fördern eine systematische Vorgehensweise. Wir legen grossen
  Wert auf die Umsetzbarkeit und reichern die Theorie mit eigenen Erfahrungen
  und Praxisbeispielen an.
%p
  Wir vermitteln Ihnen kein Wissen auf Vorrat, sondern Rüstzeug für Ihre
  tägliche Arbeit im Unternehmen.
