---
layout: 'default'
title: 'Führungskräfteentwicklung'
---

%img.ken{alt: 'fuehrungskraefteentwicklung', src: '/images/fuehrungskraefteentwicklung.jpg'}/
%h4
  'Wir sind nicht nur für das verantwortlich, was wir tun, sondern auch
  für das, was wir nicht tun.'
  %sub (Molière)
%h5
  Ihr Nutzen
%p
  Ihr Führungsstil ist geschärft, individuell und authentisch. Sie sind
  sich Ihrer Wirkung bewusst und steuern sich selbst erfolgreich – auch in
  schwierigen Situationen. In Konflikten bleiben Sie handlungsfähig und setzen
  wirksame Instrumente wie Team- oder Einzelcoachings lösungsorientiert ein.
  Mit Ihrer effektiven und mitarbeitergerechten Führung sorgen Sie für ein
  motivierendes und leistungsorientiertes Arbeitsklima und nehmen Ihre verantwortungsvolle
  Rolle umfassend war.
%h5
  Unser Beitrag
%p
  Wir reflektieren Ihren Führungsstil und werfen gemeinsam mit Ihnen einen
  selbstkritischen Blick auf Verhaltensmuster, Fähigkeiten und Glaubenssätze.
  Für die Interaktion mit Ihren Mitarbeitenden und Arbeitskollegen beurteilen
  wir Ihre Kommunikation und Haltung und erarbeiten mögliche Alternativen.
  Wir entwickeln einfache und wirksame Führungsinstrumente für Ihren Alltag
  und simulieren anspruchsvolle Gespräche oder Sitzungen. Wir schärfen Ihr
  Bewusstsein, damit Sie in Ihrem Wirkungskreis Kultur prägend und kraftvoll
  agieren können.
%h5
  Entwicklungsprogramme
%p
  Auf Anfrage entwicklen wir mit Ihnen gerne ein modulares Entwicklungsprogramm
  für Ihre Zielgruppe und Themenschwerpunkte.
