---
layout: 'default'
title: 'Kulturwandel'
---

- content_for :downloads do
  %ul
    %li.pdf
      %a{href: '/documents/Werte-Workshop_als_Wertevernichter.pdf', target: 'new'} Werte-Workshops als Wertevernichter
    %li.pdf
      %a{href: '/documents/Unternehmenskultur_2010.pdf', target: 'new'} Unternehmenskultur 2010
      
%img{alt: 'kulturwandel', src: '/images/kulturwandel.jpg'}/
%h4
  Kultur verändern heisst: Veränderung kultivieren.
%h5
  Ihr Nutzen
%p
  Sie gewinnen ein klares Bild und Verständnis über die aktuelle Firmenkultur
  Ihres Unternehmens und erkennen, wie diese Ihre Organisation und Ihr Team
  im täglichen Handeln beeinflusst. Es wird deutlich, ob die Umsetzung der
  Vision und das Erreichen strategischer Ziele mit der aktuell gelebten Kultur
  gelingen können. Unter Einbezug des Kaders und der Mitarbeitenden entwickeln
  Sie eine neue, wertschaffende Firmenkultur und leben diese authentisch
  vor. Ihr verändertes Verhalten ermöglicht eine nachhaltige Veränderung
  der Firmenkultur und eine Anpassung der Unternehmenswerte.
%h5
  Unser Beitrag
%p
  Wir erarbeiten mit Ihnen einen wirksamen Entwicklungs- und Umsetzungsprozess
  und analysieren die vorherrschende Unternehmenskultur (z.B. Arbeits- oder
  Meeting-Kultur, Feedbackkultur, etc.). Durch Identitätsarbeit reflektieren
  wir mögliche Konflikte mit der Unternehmensvision. In Gruppen-Workshops
  werden die Facetten der gewünschten künftigen Firmenkultur erarbeitet und
  konkrete kulturprägende und strategieumsetzende Aktivitätspläne aufgesetzt.
  Wir unterstützen den Kulturwandel mit erprobten Instrumenten und setzen
  gezielt Promotoren und Scouts ein. Die nachhaltige Verankerung der veränderten
  Unternehmenskultur und der zentralen Werte ist unser Ziel.
%p
  Wichtig sind uns Wertschätzung und Respekt gegenüber dem Geleisteten und
  den Beiträgen jedes Einzelnen. Die Bewahrung des Bewährten und die Lust
  an Neuem müssen dabei nicht im Widerspruch stehen.
  %br/
  Instrumente und Methoden, die wir einsetzen: Zukunftskonferenzen, Open
  Space-Konferenzen, World Cafés und Appreciative Inquiry®-Meetings.
