---
layout: 'default'
title: 'Potenzialanalyse - Vitalisierungsprozess'
keywords: 'Potenziale nutzen, Potenzialanalyse, Vitalisierung, Vitalisierungsprozess, Unternehmenswachstum, Nachhaltige Entwicklung, Wachstum, Energetisierend, Unternehmensentwicklung, Kernkompetenzen'
---

- content_for :downloads do
  %ul
    %li.pdf
      %a{href: '/documents/Alchimedus-Methode_-_Beschrieb.pdf', target: 'new'} Potenzialanalyse Beschrieb

%img.ken{alt: 'assessment', src: '/images/assessment.jpg'}/
%h4
  Nur wer seine Potenziale kennt, kann diese zur Unternehmens-Vitalisierung nutzen.
%h5
  Ihr Nutzen
%p
  Sie erhalten innert 2 Tagen eine transparente Übersicht zu den wesentlichen Unternehmenspotenzialen und gewinnen Klarheit über anstehende unternehmerische Entscheide. Da im Prozess Schlüsselpersonen involviert sind, fällt die Umsetzung gemeinsam definierter Massnahmen deutlich leichter als gewohnt. Führungskräfte und Mitarbeiter übernehmen Verantwortung und realisieren als Einheit schrittweise die Verbesserungspotentiale. Der Vitalisierungsprozess ist nun angestossen. Neben dem inhaltlichen Nutzen kombiniert die Methode auch einen Aushandlungs- und Klärungsprozess im Team. 'Heisse Eisen' werden endlich angesprochen und systematisch geklärt. Die Mannschaft geht gestärkt aus dem Prozess hervor. Damit die Ergebnisse nicht versanden, wird ein Qualitäts- und Erfolgsprozess definiert.
%h5
  Unser Beitrag
%p
  Basierend auf dem etablierten Alchimedus-Prinzip führen wir mit ihnen und ihrem Führungsteam (bei kleinen Unternehmen auch mit dem gesamten Team) schrittweise die Potenzialanalyse für ihr Unternehmen, Abteilung oder Team durch. Dabei werden wir sie mit systemischen Fragen unterstützen blinde Flecken oder verborgene Potenziale zu erkennen. Die Erkenntnisse werden festgehalten und in einem Bericht aufbereitet. Die gemeinsam definierten Zukunftsprojekte sind wegweisend für die Realisierung der Potenziale. Beim Aufsetzen dieser Projekte und teilweise bei der Umsetzung haben wir eine aktive begleitende Rolle, damit die Entwicklung wirkungsvoll gelingt.
%p
  Wir sind überzeugt, dass KMUs gut daran tun den Investitionsfokus auf die Massnahmenumsetzung zu legen und nicht auf zu umfangreiche und kostspielige Analysen!
%p
  Mehr über den Ablauf eines Vitalisierungsprozesses finden sie im
  = succeed '.' do
    %a{href: '/documents/Alchimedus-Methode_-_Beschrieb.pdf', target: 'new', title: 'Download'} Download
%p
  Weitere Informationen zur Alchimedus Methode finden sie unter
  = succeed '.' do
    %a{href: 'http://www.alchimedus.de', target: 'new'} www.alchimedus.de
