---
layout: 'default'
title: 'Teamentwicklung'
---

#img.kenburns
  %img{alt: 'team-entwicklung', src: '/images/team-entwicklung.jpg'}/

%h4
  'Zusammenkommen ist ein Anfang, Zusammenhalten ist Fortschritt, Zusammenarbeiten
  ist Erfolg.'
  %sub (Henry Ford)
%h5
  Ihr Nutzen
%ul
  %li
    Erhöhung der Leistungsfähigkeit und Arbeitsqualität gegenüber internen
    und externen Kunden.
  %li
    Verbesserter Umgang mit Konflikten und Steigerung des selbstverantwortlichen
    Handelns durch offene und direkte Kommunikation.
  %li
    Schnelle Entspannung und De-Eskalation bei anspruchsvollen Situationen
    im Team.
  %li
    Die konstruktive Fehler- und Feedback-Kultur reduziert Missverständnisse.
  %li
    Die verbesserte Integration erhöht das unternehmerische Denken und die
    Mitarbeiterzufriedenheit.
%h5
  Unser Beitrag
%p
  Wir klären mit Ihnen die Schwerpunkt-Themen und entwickeln gemeinsam ein
  massgeschneidertes Vorgehen, durch welches nachhaltige Effekte erzielt
  werden. In Team- oder Organisationsentwicklungsprozessen arbeiten wir allparteilich,
  moderieren neutral und setzen explizite Impulse von aussen. Wir steuern
  den Prozess auf der Sach-Ebene (Inhalte, Themen), auf der Prozess-Ebene
  (Vorgehensweise) und auf der Beziehungs-Ebene (Klima, Gefühle, Umgang miteinander).
  Mit dem systemischen Ansatz betrachten wir das Team als Ganzes, bearbeiten
  jedoch auch individuelle Rollen und deren spezifische Aufgaben und Beziehungen
  gegenüber Dritten.
