---
layout: 'default'
title: 'Visionsarbeit & Neuausrichtung'
---

- content_for :downloads do
  %ul
    %li.pdf
      %a{href: '/documents/Werte-Workshop_als_Wertevernichter.pdf', target: 'new'} Werte-Workshops als Wertevernichter
    %li.pdf
      %a{href: '/documents3/Werte_in_der_Wirtschaft.pdf', target: 'new'} Werte in der Wirtschaft

#img.kenburns
  %img{alt: 'visionsarbeit-und-neuausrichtung', src: '/images/visionsarbeit-und-neuausrichtung.jpg'}/

%h4
  Visionen brauchen kluge Wege, um sichtbar zu werden.
%h5
  Ihr Nutzen
%p
  Sie gewinnen Klarheit über die künftige Unternehmensausrichtung und können
  zielorientiert handeln. Gemeinsam mit Schlüsselpersonen erarbeiten Sie
  eine kraftvolle Vision, die innovativ und realisierbar ist. Die gute Unternehmenspassung
  des entwickelten Ziel-Szenarios erlaubt eine effiziente und effektive Umsetzung
  in bestehenden Prozessen und Strukturen. Die gewählte Arbeitsform stösst
  eine kulturelle Entwicklung an, die ein wichtiger Erfolgsfaktor im Gesamtprozess
  ist.
%h5
  Unser Beitrag
%p
  Wir regen zum Querdenken an, sammeln ungewöhnliche Ideen und moderieren
  die Prioritätensetzung und Szenario-Bewertung nach Chancen- und Risiko-Betrachtung.
  Wir unterstützen das Ableiten von Massnahmen zur Verfeinerung und Entwicklung
  Ihrer kraftvollen Vision, welche sich in der Unternehmensstrategie wiederfindet.
  Gemeinsam identifizieren wir mögliche Stolpersteine und initiieren die
  notwendigen Implementierungsschritte. Wir unterstützen Sie bei der stringenten
  Umsetzung und nachhaltigen Verankerung des Ziel-Szenarios im operativen
  Tagesgeschäft.
%p
  Dabei setzen wir folgende Instrumente und Methoden ein: Visioning, Szenario-Technik,
  SWOT.
